<?xml version="1.0"?>
<launch>

    <arg name="service_topic" default="/mgtu_control"/>
    <arg name="kp" default="1"/>
    <arg name="eps" default="0.1"/>

    <node pkg="mgtu_pack" type="simple.py" name="my_turtle_node" output="screen">
        <param name="eps" default="$(arg eps)"/>
        <param name="kp" default="$(arg kp)"/>
        <remap from="/my_service" to="$(arg mgtu_control)"/>
    </node>



</launch>